{% extends 'main.html' %}

{% block content %}

<h1>Przydzielone Zadania Stale</h1>

<div>

        {% if is_kierownik %}
        <a href="{% url 'create-stale' %}" class="create-link">Create Zadanie Stale</a><br>
        <a href="{% url 'create-przydzielone-stale' %}" class="create-link">Przydziel Zadanie Stale</a>
        {% endif %}

    <div>
        {% for p_stale in p_stales %}
        <div>
            {% if request.user == p_stale.recipient or is_kierownik %}
            <div>
                {% if request.user == p_stale.recipient %}
                <a>Edit</a>
                {% endif %}
                <span>@{{p_stale.recipient.username}}</span>
                <h5><a>{{p_stale.id_zs.name}}</a></h5>
                <hr>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>

</div>

<h1>Przydzielone Zadania Jednorazowe</h1>

<div>

    {% if is_programista %}
    <a href="{% url 'create-jednorazowe' %}" class="create-link">Create Zadanie Jednorazowe</a>
    {% endif %}


</div>
{% endblock content %}