{% extends 'main.html' %}

{% block content %}

<h1>Home Template</h1>

<div>

        {% if request.user.email == "kierownik@mail.com" %}
        <a href="{% url 'create-stale' %}" class="create-link">Create Zadanie Stale</a>
        {% endif %}

    <div>
        {% for stale in stales %}
        <div>
            {% if request.user == stale.recipients %}
            <a href="{% url 'update-stale' stale.id %}">Edit</a>
            {% endif %}
            <span>@{{stale.recipients.username}}</span>
            <h5>{{stale.id}} -- <a href="{% url 'room' stale.id %}">{{stale.name}}</a></h5>
            <hr>
        </div>

        {% endfor %}
    </div>

</div>

{% endblock content %}