{% extends 'main.html' %}

{% block content %}

<h1>Generowanie raportow</h1>
<div>
    {% if is_kierownik %}
    <div>
        <a href="{% url 'create-edited-dates-raport' %}" class="create-link">Raport Historii zmiany dat w zadaniach</a><br>
        <a href="{% url 'generate-specific-tasks-report' %}" class="create-link">Wygeneruj Raport Wszystkich Zadań Dla Poszczegolnego Pracownika</a><br>
        <a href="{% url 'generate-all-tasks-report' %}" class="create-link">Wygeneruj Raport Zadań Dla Wszystkich Pracownikow</a><br>
    </div>
    {% endif %}
</div>

<h1>Przydzielone Zadania Stale</h1>

<div>

        {% if is_kierownik %}
        <a href="{% url 'create-stale' %}" class="create-link">Create Zadanie Stale</a><br>
        <a href="{% url 'create-przydzielone-stale' %}" class="create-link">Przydziel Zadanie Stale</a>
        {% endif %}
        {% if is_programista %}
        -------- <a href="{% url 'generate-raport-staly' %}">Wygeneruj Raport Zadan Stalych</a>
        {% endif %}
    <div>
        {% for p_stale in p_stales %}
        <div>
            {% if request.user == p_stale.recipient or is_kierownik %}
            <div>
                {% if request.user == p_stale.recipient %}
                <div>
                    {% if p_stale.started is None %}
                    <a href="{% url 'start-stale' p_stale.id %}">Rozpocznij Zadanie</a>
                    {% elif p_stale.started is not None and p_stale.finished is None %}
                    <a href="{% url 'finish-stale' p_stale.id %}">Zakoncz Zadanie</a>
                    {% else %}
                    <a href="{% url 'edit-stale' p_stale.id %}">Edytuj Zadanie</a>
                    {% endif %}
                </div>
                {% endif %}
                <span>@{{p_stale.recipient.username}}</span>
                <h3>{{p_stale.id_zs.name}}</h3>
                <h5>{{p_stale.id_zs.description}}</h5>
                <hr>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>

</div>

<h1>Przydzielone Zadania Jednorazowe</h1>

<div>

    {% if is_programista %}
    <a href="{% url 'create-jednorazowe' %}" class="create-link">Create Zadanie Jednorazowe</a>
    -------- <a href="{% url 'generate-raport-jednorazowy' %}">Wygeneruj Raport Zadan Jednorazowych</a>
    {% endif %}

    <div>
        {% for jednorazowe in jednorazowes %}
        <div>
            {% if request.user == jednorazowe.host or is_kierownik %}
            <div>
                {% if request.user == jednorazowe.host %}
                <div>
                    {% if jednorazowe.started is None %}
                    <a href="{% url 'start-jednorazowe' jednorazowe.id %}">Rozpocznij Zadanie</a>
                    {% elif jednorazowe.started is not None and jednorazowe.finished is None %}
                    <a href="{% url 'finish-jednorazowe' jednorazowe.id %}">Zakoncz Zadanie</a>
                    {% else %}
                    <a href="{% url 'edit-jednorazowe' jednorazowe.id %}">Edytuj Zadanie</a>
                    {% endif %}
                </div>
                {% endif %}
                <span>@{{jednorazowe.host}}</span>
                <h3>{{jednorazowe.name}}</h3>
                <h5>{{jednorazowe.description}}</h5>
                <hr>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>

</div>
{% endblock content %}