{% extends 'main.html' %}

{% block content %}

<table>
    <thead>
      <tr>
        <th>Type</th>
        <th>Name</th>
        <th>Description</th>
        <th>Created</th>
        <th>Started</th>
        <th>Finished</th>
        <th>Time spent</th>
      </tr>
    </thead>
    <tbody>
      {% for row in report_data %}
      <tr>
        <td>{{ row.type }}</td>
        <td>{{ row.name }}</td>
        <td>{{ row.description }}</td>
        <td>{{ row.created }}</td>
        <td>{{ row.started }}</td>
        <td>{{ row.finished }}</td>
        {% if row.time == 0 %}
        <td>Not Finished</td>
        {% else %}
        <td>{{ row.time }}</td>

        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <table>
    <thead>
      <tr>
        <th>Total Time Spent</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ total_time_spent }}</td>
      </tr>
    </tbody>
  </table>


<div>
  <form action="{% url 'generate-all-tasks-report-csv-programista' %}" method="post">
    {% csrf_token %}
    <button type="submit">Extract to CSV</button>
  </form>

  <form action="{% url 'generate-all-tasks-report-pdf-programista' %}" method="post">
    {% csrf_token %}
    <button type="submit">Extract to PDF</button>
  </form>

  <form action="{% url 'generate-all-tasks-report-html-programista' %}" method="post">
    {% csrf_token %}
    <button type="submit">Extract to HTML</button>
  </form>
</div>



{% endblock content %}