{% extends 'main.html' %}

{% block content %}

<table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Created</th>
        <th>Started</th>
        <th>Finished</th>
        <th>Time spent</th>
      </tr>
    </thead>
    <tbody>
      {% for row in report_data %}
      <tr>
        <td>{{ row.name }}</td>
        <td>{{ row.description }}</td>
        <td>{{ row.created }}</td>
        <td>{{ row.started }}</td>
        <td>{{ row.finished }}</td>
        {% if row.time == 0 %}
        <td>Not Finished</td>
        {% else %}
        <td>{{ row.time }}</td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <table>
    <thead>
      <tr>
        <th>Total Time Spent</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ total_time_spent }}</td>
      </tr>
    </tbody>
  </table>

{% endblock content %}